{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">
  <!--Mettiamo un marker alle nostre coordinate-->
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>
    <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="colore">
  </agm-circle>
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon"> </agm-marker>
    <agm-marker [latitude]="latconiglio" [longitude]="lngconiglio" [iconUrl]="ico"> </agm-marker>
    <agm-marker [latitude]="latardilla" [longitude]="lngardilla" [iconUrl]="iconi"> </agm-marker>
    <agm-marker [latitude]="latcane" [longitude]="lngcane" [iconUrl]="iconu"> </agm-marker>
  <agm-marker [latitude]="lati" [longitude]="lngt">
  </agm-marker>
    <agm-circle [latitude]="lati" [longitude]="lngt"
      [radius]="5000"
      [fillColor]="colore">
  </agm-circle>
  <agm-polygon [paths]="triangle" [fillColor]="'red'"></agm-polygon>
  <agm-polygon [paths]="rectangle" [fillColor]="colore1"></agm-polygon>
</agm-map>
<h1>zone-colore</h1>
<Input type="button" value="rosso" (click)="rosso()">
<Input type="button" value="giallo" (click)="giallo()">
<Input type="button" value="verde" (click)="verde()">
<h1>rettangolo-colore</h1>
<Input type="button" value="rosso" (click)="rosso1()">
<Input type="button" value="giallo" (click)="giallo1()">
<Input type="button" value="verde" (click)="verde1()">
